@import '../../styles/shared.scss';

.schedules {
	display: flex;
}

.schedule {
	display: flex;
	flex: 1;
	flex-direction: column;

	> *:not(:last-child) {
		margin-bottom: $spacing-m;
	}

	&__footer {
		display: flex;
		flex: 1;
		align-items: flex-end;
	}

	&__form {
		display: flex;

		label {
			width: 50px;

			&:not(:last-of-type) {
				margin-right: $spacing-s;
			}
		}

		input {
			width: 100%;
		}
	}
}

button {
	&:not(:last-of-type) {
		margin-right: $spacing-l;
	}

	&.day {
		background-color: $color-warning;
	}

	&.night {
		background-color: $color-purple;
		color: $color-white;
	}
}
