@import '../../styles/shared.scss';

.schedules {
	display: flex;
}

.schedule {
	display: flex;
	flex: 1;
	flex-direction: column;

	&__footer {
		display: flex;
		flex: 1;
		align-items: flex-end;
	}
}

button {
	&:not(:last-of-type) {
		margin-right: $spacing-l;
	}

	&.day {
		background-color: $color-warning;
	}

	&.night {
		background-color: $color-purple;
		color: $color-white;
	}
}
