{
	"env": {
		"browser": true,
		"node": true,
		"jest/globals": true,
		"es6": true
	},
	"globals": {
		"document": false
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2017,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react",
		"jest"
	],
	"rules": {
		"arrow-spacing": [2,{"before":true,"after":true}],
		"brace-style": [2,"stroustrup",{}],
		"comma-dangle": [1,"always-multiline"],
		"comma-spacing": [2,{"before":false,"after":true}],
		"curly": [2,"all"],
		"indent": [2,"tab",{"SwitchCase":1}],
		"linebreak-style": [2,"unix"],
		"lines-around-comment": [1,{"beforeBlockComment":true,"beforeLineComment":true,"allowBlockStart":true}],
		"no-array-constructor": 1,
		"no-cond-assign": [2,"except-parens"],
		"no-console": 1,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-parens": [1,"all",{"ignoreJSX":"all"}],
		"no-extra-semi": 2,
		"no-fallthrough": 2,
		"no-func-assign": 2,
		"no-inner-declarations": [2,"functions"],
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-lonely-if": 1,
		"no-mixed-spaces-and-tabs": [2,"smart-tabs"],
		"no-multiple-empty-lines": [1,{"max":1}],
		"no-negated-in-lhs": 2,
		"no-obj-calls": 2,
		"no-path-concat": 1,
		"no-redeclare": 2,
		"no-regex-spaces": 2,
		"no-sparse-arrays": 2,
		"no-trailing-spaces": 2,
		"no-undef": 2,
		"no-unreachable": 2,
		"no-unused-vars": 1,
		"no-var": 2,
		"object-curly-spacing": [2,"always"],
		"one-var": [2,"never"],
		"prefer-const": 1,
		"prefer-spread": 1,
		"quotes": [2,"single",{"avoidEscape": true, "allowTemplateLiterals": true}],
		"semi": [2,"always"],
		"space-before-function-paren": [2,"never"],
		"spaced-comment": [1,"always"],
		"use-isnan": 2,
		"valid-jsdoc": [1,{"requireReturn":false}],
		"valid-typeof": 2
	}
}
