@import '../../styles/shared.scss';

.app {
	background-color: $color-gray--lighter;
}

.app-header {
	box-shadow: 1px 2px 3px rgba($color-black, .1);
	background-color: $color-white;
	margin-bottom: $spacing-m;
	padding: $spacing-m;
}

.app-content {
}
