@import url('//fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');
@import 'styles/shared.scss';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}

html,
body,
#root,
#root > div {
	height: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

.panel {
	border-radius: $border-radius;
	background: $color-white;
	margin-bottom: $spacing-m;
	width: 100%;
	box-shadow: 0 2px 6px rgba($color-black, .1);

	&__header {
		border-bottom: 1px solid $color-gray--lighter;
		padding: $spacing-m;
	}

	&__content,
	&__footer {
		padding: $spacing-m;
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

button,
.button {
	background-color: $color-gray;
	color: $color-black;
	padding: $spacing-s $spacing-m;
	border: 0;
	cursor: pointer;
	display: block;
	line-height: 1;
	user-select: none;
	border-radius: $border-radius;
	-webkit-font-smoothing: antialiased;
}
