@import url('//fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');
@import 'styles/shared.scss';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}

.panel {
	border-radius: $border-radius;
	background: $color-white;
	margin-bottom: $spacing-m;
	width: 100%;
	box-shadow: 0 2px 6px rgba($color-black, .1);

	&__header {
		border-bottom: 1px solid $color-gray--lighter;
		padding: $spacing-m;
	}

	&__content,
	&__footer {
		padding: $spacing-m;
	}
}
